@import "/src/styles/variables.scss";

.section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  margin-bottom: 6rem;
}

.card {
  background-color: $whiteRice;
  color: $blackSushi;
  padding: 1.25rem;
  border-radius: 0.625rem;
  position: relative;

  h2 {
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
}
