.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 100vh;
}

.containerSubtitle {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto;
  padding-left: 1rem;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0;
}

.title:after {
  content: "";
  display: block;
  height: 0.25rem;
  width: 20%;
  background-color: #f3442c;
  margin: 1.5rem auto 0 auto;
  border-radius: 1rem;
}

.subtitle {
  text-align: center;
  font-size: 2rem;
  margin: 0 auto;
}

.control {
  margin: 2rem auto;
}

.control button {
  width: 15rem;
}

.containerImage {
  margin: 0 auto;

  width: 100%;
  max-width: 450px;
}
.containerImage img {
  width: 100%;
  height: auto;
  max-width: 450px;
}
